---
import CardPrimary from "../CardPrimary.astro";
import Container from "../Container.astro";
import Grid3 from "../Grid3.astro";
---

<section class="p-section bg-light-orange">
    <Container>
        <div class="grid gp-150 txt-center mb-200">
            <h2 class="h2">Our Services</h2>
            <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nihil. Molestiae quas, facere iste vitae a pariatur laudantium, excepturi natus dolor aperiam iure corporis assumenda. Nihil mollitia reprehenderit quia molestias.</p>
        </div>
        <Grid3>
            <CardPrimary title="Web Design" />
            <CardPrimary title="Photography" />
            <CardPrimary title="Web Design" />
        </Grid3>
    </Container>
  </section>    