---
import BtnPrimary from "../components/BtnPrimary.astro";
import Container from "../components/Container.astro";
import FlexBox from "../components/FlexBox.astro";
import MainTemplate from "../templates/MainTemplate.astro";

// images
import { Image } from "astro:assets";
import heroImg from "../media/index/1.jpg";
import aboutImg from "../media/index/2.jpg"
import EmailOptinForm from "../components/blocks/EmailOptinForm.astro";
import ServicesSection from "../components/blocks/ServicesSection.astro";
---

<MainTemplate title="My Homepage" description="This is the home page of my site">
    <!-- Hero section -->
     <section class="p-section">
        <Container>
            <FlexBox>
                <div class="grid gp-150 justify-left ">
                    <h1 class="h1">World Class Design Agency</h1>
                    <p class="p clr-navy">raesent dapibus neque id cursus faucibus tortor neque egestas auguae eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi tincidunt quis accumsan porttitor facilisis luctus metus.</p>
                    <div class="flex justify-left">
                        <BtnPrimary text="Contact Us" link="/contact" />
                    </div>
                </div>
                    <Image src={heroImg} alt="Hero Image" title="Hero Image" width={400} /> 
            </FlexBox>
        </Container>
     </section>

     <!-- Services -->
      <ServicesSection />

    <!-- About -->
     <section class="p-section">
        <Container>
            <div class="grid gp-150 mb-150 txt-center">
                <h2 class="h2">About Us</h2>
                <p class="p">Lorem ipsum dolor sit amet.</p>
            </div>
            <FlexBox>
                <p class="p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis deleniti harum ex odio nemo cupiditate dolor sint, recusandae dolorem molestias magnam maiores suscipit eum eaque voluptas cum esse maxime pariatur?</p>
                <Image src={aboutImg} alt="About Image" title="About Image" width={400} />
            </FlexBox>
        </Container>
     </section>
     
     <!-- Email Subscription -->
      <section class="p-section bg-seccondary">
        <Container>
            <div class="grid mb-150 txt-center">
                <h2 class="h2">Subscribe to Our Mailing List</h2>
                <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ut eius fugiat error porro minima quia? Nulla, veniam! Ab hic laborum voluptates assumenda fugit sed molestiae ipsum eaque autem voluptatibus.</p>
            </div> 
            <EmailOptinForm />
        </Container>
      </section>
</MainTemplate>